<% provide(:title, "Stock Sale") %>
<div class="general-bank-area">
  <h2>Stock Sale</h2>
  <div class="row">
      <!-- Deposit -->
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Stock Sale</h3>
        </div>
        <div class="panel-body">
          <%= form_for(@transaction) do |t| %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Customer:</th>
                <th>Stock Company:</th>
                <th>Amount:</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <% if flash[:success]  %>
                   <%= render 'shared/transaction_success_messages' %>
                <% elsif flash[:error] %>
                    <% @transaction.errors.add(:amount, " must be equal to or lower than customer's balance.") %>
                <% end %>
                 <%= render 'shared/transaction_error_messages' %>
                <td><%= t.select :user_id, options_from_collection_for_select(User.where.not(admin: true).order(:id), :id, :name),
                                          {:prompt => "Customer", }, {:class => "select-box-ict"}%></td>
                <td><%= select_tag "stock", options_from_collection_for_select(Stock.all.order(:id), :id, :name), :prompt => "Stock" , :class => "select-box-ict"%></td>
                <td><%= text_field_tag "stock_amount" %></td>
                <td><%= t.submit "Sell Shares", :class => "btn btn-sm btn-primary submit-transaction" %></td>
                 <%= t.hidden_field :description, :value => "Sale" %>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
    <h2>Stock Market Information</h2>
    <div class="row placeholders">
      <% @stocks.order(:id).each do |s| %>
        <div class="col-xs-6 col-sm-3 placeholder company-card-wrapper">
          <div class="company-card-inner">
            <%= image_tag("#{s.abbrev}", :width => 150, :height => 150, :class => "img-responsive", :alt => "Generic placeholder thumbnail" ) %>
            <% if s.name != nil %>
              <h3><%= link_to s.name, s, :target => "_blank" %></h3>
            <% else %>
              <h3 class="text-muted">Stock Name</h3>
            <% end %>
            <% if s.price != nil && s.previous_price != nil %>
            <!-- Percentage increase/drop in price per share -->
              <% pChange = ((s.price - s.previous_price) / s.previous_price) * 100 %>
              <% if pChange > 0 %>
                <h3 style="color: green">↑<%= pChange.round(2) %>%</h3>
              <% elsif pChange < 0 %>
                <h3 style="color: red">↓<%= (pChange.round(2)) * -1 %>%</h3>
              <% else %>
                <h3><%= pChange.round(2)%>%</h3>
              <% end %>

            <!-- Current Share Value -->
              <p class="text-muted">Current Share Value:</p>
              <h4>$<%= s.price %></h4>
              <!-- Previous Share Value -->
              <p class="text-muted">Previous Share Value:</p>
              <h4>$<%= s.previous_price %></h4>
            <% end %>
            <!-- Market Cap -->
            <p class="text-muted">Market Cap:</p>
            <% if s.market_cap >= 0 %>
              <p class="green-balance">$<%= s.market_cap %></p>
            <% else %>
              <p class="red-balance">-$<%= (s.market_cap*-1) %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
