<% provide(:title, "Bank") %>
<!-- Companies -->
  <div class="row placeholders">
    <% @company_accounts.order(:id).each do |c| %>
      <div class="col-xs-6 col-sm-3 placeholder company-card-wrapper">
        <div class="company-card-inner">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" class="img-responsive" alt="Generic placeholder thumbnail">
          <% if c.name != nil %>
            <h3><%= link_to c.name, company_account_path(c) %></h3>
          <% else %>
            <h3 class="text-muted">Company Name</h3>
          <% end %>
          <% if c.market != nil && c.numerator != nil %>
            <h4 ><%= c.market + " #{c.numerator}" %></h4>
          <% end %>
          <p class="text-muted">Balance:</p>
          <% if c.balance >= 0 %>
            <p class="green-balance">$<%= c.balance.round(2) %></p>
          <% else %>
            <p class="red-balance">-$<%= (c.balance.round(2)*-1) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= form_tag(controller: "transactions", action: "tax_all") do%>
      <%= submit_tag("Tax all companies", :class => "btn btn-sm btn-lg btn-danger", :style => "width: 100%") %>
    <% end %>
  </div>
<!-- End Companies -->
