<% provide(:title, "Properties") %>
<div class="general-bank-area">
  <h2> Properties Transactions</h2>
  <table class="table">
    <thead>
      <tr>
        <th class"transaction-integer-cell">ID</th>
        <th class"transaction-integer-cell">Name</th>
        <th class"transaction-integer-cell">Owner</th>
        <th class"transaction-integer-cell">Price</th>
        <th class"transaction-integer-cell">Current Value</th>
        <th class"transaction-integer-cell">Bought at</th>
      </tr>
    </thead>
  </table>
  <div class="bank-table">
    <table class="table table-striped">
      <tbody>
        <% @properties.each do |pr|  %>
          <tr>
            <td class"transaction-integer-cell" style="text-align: center"><%= link_to pr.id, property_path(pr.id), :target => "_blank" %></td>
            <td class"transaction-integer-cell" style="text-align: center"><%= link_to pr.name, property_path(pr.id), :target => "blank" %></td>
            <td class"transaction-integer-cell" style="text-align: center"><%= base_company_from_id(pr.company_account_id) %></td>
            <td class"transaction-integer-cell" style="text-align: center">$<%= number_with_precision(pr.price, :precision => 2) %></td>
            <td class"transaction-integer-cell" style="text-align: center">$<%= number_with_precision(pr.bought_at, :precision => 2) %></td>
            <td class"transaction-integer-cell" style="text-align: center"><%= pr.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
