<% provide(:title, "Transactions") %>
<div class="general-bank-area">
  <h2>All Company Transactions</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="transaction-integer-cell">ID</th>
        <th class="transaction-text-cell">Description</th>
        <th class="transaction-integer-cell">Customer</th>
        <th class="transaction-integer-cell">Provider</th>
        <th class="transaction-integer-cell">Amount</th>
      </tr>
    </thead>
  </table>
  <div class="bank-table">
    <table class="table table-striped">
      <tbody>
        <% @transactions.reverse_each do |t|  %>
          <tr>
            <td class="transaction-integer-cell"><%= link_to t.id, transaction_path(t.id), :target => "_blank" %></td>
            <td class="transaction-text-cell">
              <% if t.description.length > 40 %>
                <%= t.description[0, 40] + "..." %>
              <% else %>
                <%= t.description %>
              <% end %>
          </td>
            <td class="transaction-integer-cell"><%= base_company_from_id(t.customer_id) %></td>
            <td class="transaction-integer-cell"><%= base_company_from_id(t.provider_id) %></td>
            <td class="transaction-integer-cell">$<%= number_with_precision(t.amount, :precision => 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <h2>All Stock Transactions</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="transaction-integer-cell">ID</th>
        <th class="transaction-text-cell">Description</th>
        <th class="transaction-integer-cell">User</th>
        <th class="transaction-integer-cell">Amount</th>
      </tr>
    </thead>
  </table>
  <div class="bank-table">
    <table class="table table-striped">
      <tbody>
        <% @user_transactions.reverse_each do |t|  %>
          <tr>
            <td class="transaction-integer-cell"><%= link_to t.id, user_transaction_path(t.id), :target => "_blank" %></td>
            <td class="transaction-text-cell">
              <% if t.description.length > 40 %>
                <%= t.description[0, 40] + "..." %>
              <% else %>
                <%= t.description %>
              <% end %>
          </td>
            <td class="transaction-integer-cell"><%= User.find(t.user_id).name %></td>
            <td class="transaction-integer-cell">$<%= number_with_precision(t.amount, :precision => 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
