<% provide(:title, base_company(@company_account)) %>
<div class="company-page">
<!-- Title -->
  <% if @company_account.name != nil %>
    <h1><%= @company_account.name + " Corporate Account" %></h1>
    <h2><%= base_company(@company_account) %></h2>
  <% else %>
    <h1><%= base_company(@company_account) %></h1>
  <% end %>
<!-- End Title -->

<!-- Transactions Exclusive to this company -->
  <div class="general-transaction-area">
    <h2>Transactions</h2>
    <table class="table">
      <thead>
        <tr>
          <th class="transaction-integer-cell">ID</th>
          <th class="transaction-text-cell">Description</th>
          <th class="transaction-integer-cell">Customer</th>
          <th class="transaction-integer-cell">Provider</th>
          <th class="transaction-integer-cell">Amount</th>
        </tr>
      </thead>
    </table>
    <div class="bank-table">
      <table class="table table-striped">
        <tbody>
          <%
            if @transactions.present?
              @transactions.reverse_each do |t|
            %>
            <tr>
              <td class="transaction-integer-cell"><%= t.id %></td>
              <td class="transaction-text-cell">
                <% if t.description.length > 40 %>
                  <%= t.description[0, 40] + "..." %>
                <% else %>
                  <%= t.description %>
                <% end %>
            </td>
              <td class="transaction-integer-cell"><%= base_company_from_id(t.customer_id) %></td>
              <td class="transaction-integer-cell"><%= base_company_from_id(t.provider_id) %></td>
              <td class="transaction-integer-cell">$<%= number_with_precision(t.amount, :precision => 2) %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<!-- End Transactions Exclusive to this company -->

<!-- Staff -->
  <%
    @staffs.each do |s|
      if s.company_account_id == @company_account.id
        has_staff = true
        break
      else
        has_staff = false
      end
    end
  %>

  <!-- If has_staff show staff pics and bios -->

</div>
