<% provide(:title, "Corporate Bank Account") %>
<div class="general-bank-area">
  <div class="row">
    <div class="col-sm-7">
    <!-- Transactions Panel -->
      <div class="panel panel-primary user-bank-trans-panel">
        <div class="panel-heading">
          <h6 class="panel-title"><%= @account.name %>'s Transactions</h6>
        </div>
        <div class="panel-body trans-panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="transaction-integer-cell">ID</th>
                <th class="transac-text-cell">Description</th>
                <th class="transaction-integer-cell">Customer</th>
                <th class="transaction-integer-cell">Provider</th>
                <th class="transaction-integer-cell">Amount</th>
              </tr>
            </thead>
          </table>
          <div class="bank-table trans-table">
            <table class="table table-striped">
              <tbody>
                <% @transactions.reverse_each do |t|  %>
                  <tr>
                    <td class="transaction-integer-cell"><%= link_to t.id, transaction_path(t.id), :target => "_blank" %></td>
                    <td class="transac-text-cell">
                      <% if t.description.length > 40 %>
                        <%= t.description[0, 40] + "..." %>
                      <% else %>
                        <%= t.description %>
                      <% end %>
                  </td>
                    <td class="transaction-integer-cell"><%= base_company_from_id(t.customer_id) %></td>
                    <td class="transaction-integer-cell"><%= base_company_from_id(t.provider_id) %></td>
                    <td class="transaction-integer-cell">$<%= number_with_precision(t.amount, :precision => 2) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Right div -->
    <div class="col-sm-5">
      <!-- Balance panel -->
      <div class="panel panel-success">
        <div class="panel-heading">
          <h6 class="panel-title"><%= @account.name %>'s Balance</h6>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Before Tax:
                </th>
                <th>
                  After Tax:
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% if @account.balance > 0 %>
                  <td class="green-balance" style="text-align: left">$ <%= @account.balance %></td>
                  <td class="green-balance" style="text-align: left">$ <%= @account.balance - (@account.balance * 0.08) %></td>
                <% else %>
                  <td class="red-balance" style="text-align: left">$ <%= @account.balance %></td>
                  <td class="red-balance" style="text-align: left">$ <%= @account.balance %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Property panel -->
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h6 class="panel-title"><%= @account.name %>'s Properties</h6>
        </div>
        <div class="panel-body">
          <% if @properties.any? %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Property Name:
                  </th>
                  <th>
                    Current Value:
                  </th>
                </tr>
              </thead>
              <tbody>
                  <% @properties.each do |property| %>
                  <tr>
                    <td><%= property.name %></td>
                    <td>$ <%= property.bought_at %></td>
                  </tr>
                  <% end %>
              </tbody>
            </table>
          <% else %>
            <p>Your company doesn't own any properties yet.</p>
          <% end %>
        </div>
      </div>

      <!-- Stock panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title"><%= @user.name %>'s Stock</h6>
        </div>
        <div class="panel-body">
          <% if @user_stock[0] != nil || @user_stock[1] != nil || @user_stock[2] != nil || @user_stock[3] != nil || @user_stock[4] != nil || @user_stock[5] != nil || @user_stock[6] != nil || @user_stock[7] != nil %>

             <table class="table table-striped">
               <thead>
                 <tr>
                   <th>
                     Stock Name:
                   </th>
                   <th>
                     Quantity:
                   </th>
                   <th>
                     Total Value:
                   </th>
                 </tr>
               </thead>
               <tbody>
                <% for i in 1..8 %>
                  <% stock = Stock.find(i) %>
                  <% if  @user_stock[i-1]  == nil%>
                    <% user_stock = 0 %>
                  <% else %>
                    <% user_stock = @user_stock[i-1] %>
                  <% end %>
                  <tr>
                    <td><%= stock.abbrev %></td>
                    <td><%= user_stock %></td>
                    <td>$ <%= (stock.price * user_stock) %></td>
                <% end %>
               </tbody>
             </table>

          <% else %>
          <p>You don't own any stock.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
