<% provide(:title, "Copyrights") %>
<div class="general-bank-area">
  <h2>Active Copyrights</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="transaction-integer-cell">ID</th>
        <th class="transaction-integer-cell">Concept</th>
        <th class="transaction-integer-cell">Owner</th>
        <th class="transaction-text-cell" style="text-align: center">Activation Date</th>
        <th class="transaction-integer-cell">Amount</th>
      </tr>
    </thead>
  </table>
  <div class="bank-table">
    <table class="table table-striped">
      <tbody>
        <% @copyrights.reverse_each do |c|  %>
          <tr>
            <td class="transaction-integer-cell"><%= link_to c.id, copyright_path(c.id), :target => "_blank" %></td>
            <td class="transaction-integer-cell">
              <% if c.concept.length > 40 %>
                <%= c.concept[0, 40] + "..." %>
              <% else %>
                <%= c.concept %>
              <% end %>
          </td>
            <td class="transaction-integer-cell"><%= base_company_from_id(c.company_account.id) %></td>
            <td class="transaction-text-cell" style="text-align: center"><%= c.updated_at %></td>
            <td class="transaction-integer-cell">$<%= number_with_precision(c.amount, :precision => 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
