<% provide(:title, "New Copyright") %>
<div class="general-bank-area">
  <h2>Copyright Registration</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Copyright Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Customer:</th>
            <th>Concept:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <%= form_for(@copy) do |t| %>
              <% if flash[:success] %>
                 <%= render 'shared/transaction_success_messages' %>
              <% elsif flash[:error] %>
                  <% @transaction.errors.add(:amount, " is more than customer can afford") %>
              <% end %>
               <%= render 'shared/transaction_error_messages' %>
              <td><%= t.select :company_account_id, options_from_collection_for_select(CompanyAccount.all.order(:id), :id, :name),
                                          {:prompt => "Select customer..." }, {:class => "select-box-ict"}%></td>
              <td><%= t.text_field :concept, :style => "width: 100%"%></td>
          </tr>
        </tbody>
      </table>
            <%= t.submit "Register Copyright", :class => "btn btn-lg btn-primary submit-transaction" %>
          <% end %>
    </div>
  </div>

</div>
