<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'static_pages', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'bank_system', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
        <div class="row">

      <!-- Side Bar -->
          <div class="col-sm-3 col-md-2 sidebar">
            <h5>Information</h5>
            <ul class="nav nav-sidebar">
              <li><%= link_to 'Accounts', bank_path %></li>
              <li><%= link_to 'Transaction History', transactions_path %></li>
              <li><%= link_to 'Properties', properties_path %></li>
              <li><%= link_to 'Stock Market', properties_path %></li>
            </ul>
            <h5>Operations</h5>
            <ul class="nav nav-sidebar">
              <li><%= link_to 'New Contract', '#' %></li>
              <li><%= link_to 'New Copyright', '#' %></li>
              <li><%= link_to 'Stock purchase', '#' %></li>
              <li><%= link_to 'Stock Sale', '#' %></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li><a href="">Nav item again</a></li>
              <li><a href="">One more nav</a></li>
              <li><a href="">Another nav item</a></li>
            </ul>
          </div>

    <!-- End Side Bar -->

    <!-- Dashboard -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">The Bank</h1>
            <%= yield %>
          </div>
    <!-- End Dashboard -->
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
